
.hdr { 
  font-size: 32px; 
  font-weight: bold; 
  margin-left: 20px; 
}

.by { 
  font-size: 20px; 
  font-weight: bold; 
  margin-left: 20px; 
}

.gravatar { 
  position: absolute; 
  top: 0; 
  right: 0; 
  display: none; 
}

svg {
  font: 10px sans-serif;
}

path {
  fill: green;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .3;
  fill: red;
  shape-rendering: crispEdges;
}

.minimap {
  opacity: 0.3;
}

#tooltip {   
  display: none;
  position: absolute;           
  text-align: left;           
 // width: 160px;                  
 // height: 45px;                 
  padding: 1ex;             
  font: 12px sans-serif;        
  background: lemonchiffon;   
  border: solid 1px black;
  border-radius: 8px;           
  pointer-events: none;         
}

#topinfo {
  display: block;
  margin: 3ex;
//  text-align: center;
//  width: 100%;
//  height: 3ex;
//  background: pink;
//  color: black;
}

#chart {
//  background: lightgray;
}

.gene-row rect.on  { fill: green; }
.gene-row rect.off { fill: lightgray; }

.highlight {
  fill: red;
  font-weight: bold;
}
