
.hdr { 
  font-size: 32px; 
  font-weight: bold; 
  margin-left: 20px; 
}

.by { 
  font-size: 20px; 
  font-weight: bold; 
  margin-left: 20px; 
}

.gravatar { 
  position: absolute; 
  top: 0; 
  right: 0; 
  display: none; 
}

.right {
  float: right;
}

.option { 
  font-size: 9pt;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
}
.option label { display: inline-block; width: 70px; }

.columns > div {
  display: inline-block;
}


#colour-legend { float: right; margin-right: 100px;}
#colour-legend .title { font-weight: bold; }
#colour-legend .box {float: left; height: 10px; width: 10px; margin: 3px;}

.ui-menu-item { font-size: 9pt; }

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .3;
  fill: red;
  shape-rendering: crispEdges;
}

.minimap {
}

#tooltip {   
  display: none;
  position: absolute;           
  text-align: left;           
 // width: 160px;                  
 // height: 45px;                 
  padding: 1ex;             
  font: 12px sans-serif;        
  background: lemonchiffon;   
  border: solid 1px black;
  border-radius: 8px;           
  pointer-events: none;         
}

#topinfo {
  display: block;
  margin: 3ex;
//  text-align: center;
//  width: 100%;
//  height: 3ex;
//  background: pink;
//  color: black;
}

#chart {
//  background: lightgray;
}

.gene-row rect.on  { fill: green; }
.gene-row rect.off { fill: lightgray; }

.gene-row.highlight rect.on  { fill: red !important; }
.gene-row.brushed rect.on  { fill: red !important; }

.highlight { fill: red !important; font-weight: bold; }
circle.brushed,text.brushed { fill: red !important; font-weight: bold; }

#mds, #mds2 { display: inline-block; }
#mds-thinking, #dendrogram-thinking { display: none; position: absolute; font-size: 50px; }

.mds-scatter { border: 1px solid #ccc; }
.mds-scatter svg { position: absolute; }
.mds-scatter svg.overlay { pointer-events: none; }

.mds-scatter rect { fill: none; }
.mds-scatter .highlight rect { fill: #ddd; stroke: black; }

.mds-scatter .extent {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
}

/*  ****************************************************/
svg.dendrogram {
  border: 1px solid #ccc;
}

.dendrogram path {
  fill: none;
  stroke-width: 1.5px;
}

.dendrogram path.brushed { stroke: red !important; }


/*  ****************************************************/
.warning-popover {
    position: relative;
    top: 70px;
    z-index: 1100;
}

.warning-popover .browser-warning {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
}

.browser-warning {
    background-color: #eaa;
    border: thin black solid;
    border-radius: 10px;
    padding: 5px 20px;
}

/*  ****************************************************/
